# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

bin
*~
\#*
gitstats
notes
results

# These files are generated
replication
modules/Makefile
modules/src/module_handler.cpp

